<div>
    <img src=" <%= Details.image_url%>" alt="" srcset="" />
    <h2>
        <%= Details.title%><br />
    </h2>
    <h3>
        <%= Details.author %>
    </h3>
    <p><%= Details.description%></p>
    <p>
        <%= Details.isbn %>
    </p>
    <p>
        <%= Details.bookshelf %>
    </p>
    <a href="/books"></a>
</div>