<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
    <title>Show Book</title>
</head>

<body>
    <header>
        <%- include('../../layout/header.ejs')%>
    </header>
    <main>
        <ul>
            <% bookDetails.forEach(item=>{ %>
            <li>
                <img src="<%= item.thumnail %>">
            </li>
            <li>
                <%= item.BookTitle %>
            </li>
            <li>
                <%= item.AuthorName %>
            </li>
            <li>
                <%= item.BookDescription %>
            </li>
            <li>
                <%= item.ISBN %>
            </li>
            <li>
                <%= item.Bookshell %>
            </li>
            <% }); %>
        </ul>
    </main>
    <script src="js/book.js"></script>
</body>

</html>