<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head')%>
    <title>Book</title>
</head>

<body>
    <header>
        <%- include('../layout/header.ejs')%>
    </header>
    <main>
        <div>
            <p>
                <%= counter %>
            </p>
            <ul>
                <% bookInfo.forEach(item=>{ %>
                <li>
                    <img src="<%= item.image_url %>">
                </li>
                <li>
                    <%= item.title %>
                </li>
                <li>
                    <%= item.author %>
                </li>
                <button><a href="/books/<%= item.id %>">View Details</a></button>
                <% }); %>
            </ul>
        </div>
    </main>
    <script src="js/book.js"></script>
</body>

</html>