<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head')%>
    <title>Book</title>
</head>

<body>
    <header>
        <%- include('../layout/header.ejs')%>
    </header>
    <main id="home">
        <p><%= counter %> Saved Books</p>
        <% bookInfo.forEach(item=>{ %>
        <div id="a-center">
            <img src="<%= item.image_url %>" id="img">
            <h2 class="TP"><%= item.title %></h2>
            <h2 class="TP"><%= item.author %></h2>
            <button><a href="/books/<%= item.id %>">View Details</a></button>
        </div>
        <% }); %>
    </main>
    <script src="js/book.js"></script>
</body>

</html>